# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

rsource "Kconfig.multidomain_channels"

config MDM_BLE_NUS_RUNNER
	select BT
	select BT_PERIPHERAL
	select BT_NUS
	select BT_SETTINGS
	select SETTINGS
	select FLASH
	select FLASH_PAGE_LAYOUT
	select FLASH_MAP
	select NVS
	select MPU_ALLOW_FLASH_WRITE
	select DK_LIBRARY

if MDM_BLE_NUS_RUNNER

config BT_DEVICE_NAME
	default "MDM_UART_Service"
config BT_MAX_PAIRED
	default 1

config HEAP_MEM_POOL_SIZE
	default 2048

config BLE_NUS_MODULE_DK_SUPPORT
	bool "Enable DK LED support"
	depends on DK_LIBRARY
	default y if DK_LIBRARY
	help
	  Enable LED status indication for connection state.

menuconfig MDM_BLE_NUS_ZBUS_LOGGING
	bool "Enable ZBUS logging"
	default n
	help
	  Enable local logging of ZBUS messages being sent and received by this module.

if MDM_BLE_NUS_ZBUS_LOGGING

config MDM_BLE_NUS_ZBUS_LOGGING_STACK_SIZE
	int "ZBUS logging stack size"
	default 1024
	help
	  Stack size used by the ZBUS logging thread.

config MDM_BLE_NUS_ZBUS_LOGGING_PRIORITY
	int "ZBUS logging thread priority"
	default 7
	help
	  Thread priority used by the ZBUS logging thread.

endif # MDM_BLE_NUS_ZBUS_LOGGING

module = BLE_NUS_MODULE
module-str = ble_nus_module
source "subsys/logging/Kconfig.template.log_config"

endif # MDM_BLE_NUS_RUNNER
