# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

menuconfig MDM_BLE_NUS
	bool "BLE NUS module"
	help
	  Enable BLE NUS module.
	  Note: Cannot be used simultaneously with Channel Sounding module due to
	  BLE role conflicts (BLE NUS requires peripheral, Channel Sounding requires
	  central-only mode).

if MDM_BLE_NUS

menuconfig MDM_BLE_NUS_ZBUS_LOGGING
	bool "Enable ZBUS logging"
	default n
	help
	  Enable local logging of ZBUS messages being sent and received by this module.

if MDM_BLE_NUS_ZBUS_LOGGING

config MDM_BLE_NUS_ZBUS_LOGGING_STACK_SIZE
	int "ZBUS logging stack size"
	default 1024
	help
	  Stack size used by the ZBUS logging thread.

config MDM_BLE_NUS_ZBUS_LOGGING_PRIORITY
	int "ZBUS logging thread priority"
	default 7
	help
	  Thread priority used by the ZBUS logging thread.

endif # MDM_BLE_NUS_ZBUS_LOGGING

endif # MDM_BLE_NUS
