# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

menu "multi-domain-modules"

menuconfig MDM
	bool "Enable multi-domain modules"
	help
	  Enable multi-domain modules support

if MDM

rsource "led/Kconfig.multidomain"
rsource "ble_nus/Kconfig.multidomain"
rsource "channel_sounding/Kconfig.multidomain"

endif # MDM

endmenu
