# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

rsource "Kconfig.multidomain_channels"

config MDM_LED_RUNNER
	select GPIO
	select DK_LIBRARY

if MDM_LED_RUNNER

module = MDM_LED
module-str = LED
source "subsys/logging/Kconfig.template.log_config"

endif # MDM_LED_RUNNER
