#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig MDM_LED
	bool "LED"
	select LED
	help
	  Enable LED

if MDM_LED

config MDM_LED_OWNER
	bool "Is led module owner"
	default n
	help
	  Select if this module is the owner of the led module. Only one module should be
	  the owner.

endif # APP_LED
