# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

menuconfig MDM_LED
	bool "LED module"
	help
	  Enable multi-domain LED module.

if MDM_LED

config MDM_LED_ZBUS_LOGGING
	bool "Enable ZBUS logging"
	default n
	help
	  Enable local logging of ZBUS messages being sent and received by this module.

endif # MDM_LED
