#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig MDM_LED
	bool "LED"
	select LED
	help
	  Enable LED

if MDM_LED

config MDM_LED_RUNNER
	bool "Module is running on this image"
	default n
	help
	  Select if this module is running on this image.

endif # APP_LED
