#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

source "$(APPLICATION_SOURCE_DIR)/../modules/BLE/Kconfig.ble"
source "$(APPLICATION_SOURCE_DIR)/../modules/led/Kconfig.led"
