# Copyright (c) 2025 Nordic Semiconductor
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

menuconfig MDM_CHANNEL_SOUNDING
	bool "Channel Sounding module"
	help
	  Enable Channel Sounding module.
	  Note: Cannot be used simultaneously with BLE NUS module due to
	  BLE role conflicts.

if MDM_CHANNEL_SOUNDING

config MDM_CHANNEL_SOUNDING_ZBUS_LOGGING
	bool "Enable ZBUS logging"
	default n
	help
	  Enable local logging of ZBUS messages being sent and received by this module.

endif # MDM_CHANNEL_SOUNDING
